<!--appkey=29dab7759b80c1a6d8a5f31d57792672-->

{% extends 'base.html' %}
{% block content %}
    <div id="map" style="width:100%;height:100vh;"></div>
    <button onclick="loadHospitalData()" class="emergency-button">응급실 찾기</button>
    <style>
        .emergency-button {
            z-index:500;
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=29dab7759b80c1a6d8a5f31d57792672"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.54273790670916,126.96719661395241), // 기본 좌표 (서울 시청)
            level: 3
        };

        var map = new kakao.maps.Map(container, options);

        // 현재 위치를 받아오고 지도의 중심을 설정하는 함수
        function setCurrentLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude; // 현재 위도
                    var longitude = position.coords.longitude; // 현재 경도
                    var locPosition = new kakao.maps.LatLng(latitude, longitude);
                    map.setCenter(locPosition);
                }, function(error) {
                    console.error('Geolocation error:', error);
				})
            }
        }

        // setCurrentLocation 함수 호출
        setCurrentLocation();

		var map;
        function displayMarkers(locations) {
            console.log("Displaying markers function called", locations);
            for (var i = 0; i < locations.length; i++) {
                console.log("Creating marker for:", locations[i]);
                console.log(locations[i].longitude.toFixed(6), locations[i].latitude.toFixed(6))
                var markerPosition = new kakao.maps.LatLng(locations[i].latitude.toFixed(6), locations[i].longitude.toFixed(6));
                var marker = new kakao.maps.Marker({
                    position: markerPosition,
                });
                marker.setMap(map)
            }
        }
        function loadHospitalData() {
            console.log("Fetching hospital data...");
            fetch('/aidlink/products/')
                .then(response => {
                    console.log("Response received", response);
                    return response.json();
                })
                .then(data => {
                    console.log("Data processed", data);
                    displayMarkers(data);
                })
                .catch(error => console.error('Error:', error));
            	}

	function createContent(location) {
		// 오버레이에 표시될 내용을 동적으로 생성
		var content = '<div style="padding:5px;">' +
			location.title + (location.center_type === "0" ? "(응급)" : "(외상)") +
			'<div style="float:right;"><button onclick="closeOverlay()">X</button></div>' +
			'<div>' + location.duty_addr +
			'<div>대표 : ' + location.duty_tel1 +
			'<div>응급실 : ' + location.duty_tel3 +
			'</div></div></div></div>';
    	return content;
	}

	function closeOverlay() {
		// 오버레이를 닫는 함수
		overlay.setMap(null);
	}

    </script>

<style>
	.emergency-button {
		position: fixed;
		bottom: 20px;
		right: 20px;
		/* 버튼 스타일 */
	}
</style>
{% endblock %}

